<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 flex">
    </div><h3 class="d-flex justify-content-between align-items-center">Welcome, {{ username }} <a href="/logout" class="btn btn-sm btn-danger">Logout</a></h3><br>
    </div>
    <div class="container mt-5 card">
        <p><strong>Name :</strong> {{ student_data.first_name }} {{ student_data.last_name }}</p>
        <p><strong>Enrolled Courses: </strong>{% if student_data.enrolled_courses is iterable and not student_data.enrolled_courses is string %}
            {{ student_data.enrolled_courses | join(', ') }}
            {% else %}
                {{ student_data.enrolled_courses }}
            {% endif %}</p>
        <p><strong>EMail: </strong>{{ student_data.email }}</p>
        <p><strong>Phone Number: </strong>{{ student_data.phone_number }}</p>
    </div>
    <div class="container mt-5">
        <h4>Course Material</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Section</th>
                    <th>Description</th>
                    <th>Attachments</th>
                </tr>
            </thead>
            <tbody>
                {% for material in course_material %}
                <tr>
                    <td>{{ material.course_id }}</td>
                    <td>{{ material.course_title }}</td>
                    <td>{{ material.description }}</td>
                    <td>
                        {% for attachment in material.attachments %}
                        <a href="{{ url_for('uploaded_file', filename=attachment) }}" target="_blank">{{ attachment }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

    <div class="container mt-5 card">
        <h3>Assignments</h3>
        {% for assignment in assignmemts %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"><strong>Title: </strong>{{ assignment.assignment_title }}</h5>
                    <p class="card-text"><strong>Description: </strong>{{ assignment.description }}</p>
                    <p class="card-text"><strong>Due Date: </strong>{{ assignment.due_date }}</p>
                    {% for attachment in assignment.attachments %}
                    <a href="{{ url_for('uploaded_file', filename=attachment) }}" target="_blank">{{ attachment }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <!-- Submit assignments -->
                    <form action="/submit_assignment" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="assignment" class="form-label">Upload Assignment</label>
                            <input type="file" class="form-control" id="assignment" name="assignment">
                        </div>
                        <input type="hidden" name="assignment_id" value="{{ assignment._id }}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
